/* For mobile phones: */
[class*="col-"]{
    width: 100%;
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

/*#region Magic Section*/

/*MAGIC*/
/*This is how you get the magic of the "splash screen" taking up the whole opening screen, no matter how you resize the page, with absolutely no jquery!*/
html,
body{
    height: 100%;
}

header{
    min-height: 100%;
}
/*#endRegion*/

header{
        background-image: url(media/MandalaOneLineYellowMobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

html{
/*    background: #e2a726;*/
    background: #cc9933;
    text-align: center;
    font-family: 'Lora', serif;
    color: #5A3000;
}

main{
    background: #5A3000;
    color: #FDF5DF;
    margin: auto -8px 40px;
}

main p{
    padding: 0px 5px;
    margin: 0px 5px 0px;
}

main div:last-of-type{
    margin: 0px 0px 30px;
}

section{
    background: #FDF5DF;
    margin: auto -8px 40px;
}

.skillsRow p{
    font-size: 13px;
}

.filterBtn{
    width: 50px;
    -webkit-transition-duration: 0.5s;  Safari 
    transition-duration: 0.5s;
}

.filterBtn:hover{
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 48px;
}

.portfolioBox{
    background: #FDF5DF;
    padding: 10px;
    border: 5px solid #FDF5DF;
    box-shadow: 1px 1px 5px #888888;
}

#SplashScreenWord{
    font-family: 'Slabo 13px', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 40px;
    padding: 50px 50px 50px;
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;
}

#tagline{
    position: absolute;
    font-size: 15px;
    left: 0;
    right: 0;
    bottom: 35%;
    margin: auto;
}

#hireBtn{
    position: absolute;
    bottom: 5vw;
/*    text-align: center;*/
    /*position: absolute;
    bottom: 5vw;    
    margin: auto;*/
    /*left: 0;
    right: 0;*/
}

button{
    border-radius: 15px;
    padding: 15px 25px;
    background-color: #5A3000;
    color: #cc9933;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 20px 20px;
    border: 1px solid #5A3000;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover{
    /* background-color: #5A3000;
    color: #DFA500; */
    background-color: #cc9933;
    color: #5A3000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding: 15px 35px;
}

.light{
    background-color: #cc9933;
    color: #5A3000;
}

.light:hover{
    background-color: #5A3000;
    color: #cc9933;
    border: 1px solid #cc9933;
}

a{
    padding: 10px;
}

article img{
    padding: 20px;
    box-shadow:  1px 1px 5px #888888;
    margin: 20px;
}

footer{
    padding: 40px;
    margin: 40px -8px -1px;
    background: #5A3000;
    color: #cc9933;
}

footer p{
    margin: 0px;
}

footer p:last-of-type{
    margin: 0px 0px 20px;
}

.leftJust{
    text-align: left;
}

/*Columns for mobile (rare use)*/
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

/* For tablets */
/* @media only screen and (min-width: 600px)*/
@media only screen and (min-width: 500px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    header{
        background-image: url(media/MandalaOneLineYellow.jpg);
    }
    
    #SplashScreenWord{
        font-size: 60px;
    }
    
    #tagline{
        font-size: 18px;
    }

    #responsiveSignal{
        background-color: teal;
    }

    .skillsRow p{
        font-size: 17px;
    }
    
    .filterBtn{
        width: 100px;
    }
    
    .filterBtn:hover{
    width: 110px;
    }
}

/* For desktop */
/* @media only screen and (min-width: 768px)*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #SplashScreenWord{
        font-size: 80px;
    }
    
    #tagline{
        font-size: 20px;
    }

    #responsiveSignal{
        background-color: darkslateblue;
    }
    
    .skillsRow p{
        font-size: 20px;
    }

    .filterBtn{
        width: 100px;
    }
    
    .filterBtn:hover{
        width: 110px;
    }
    
    .portfolioBox{        
        min-height: 450px;
    }
}

* {
    /*makes sure the padding and border are included in total height of elements*/
    box-sizing: border-box;
}

#logo{
    /*centers an element horizontally*/
    margin: auto;
    /*background-image: url(media/MandalaKamryDark.jpg);*/
    max-width:50px;
    height: 50px;
    /*background-size: cover;*/
    border-radius: 30px;
    font-weight: normal;
}


.practiceImg{
    background-image: url(media/MandalaKamryDark.jpg);
    background-size: cover;
    color: red;
    /*display: table;*/
}


.practiceImg > p{
    color: white;
    margin-top: 0px;
    text-align: center;
    font-family: Lora;
    /*display: inline-block;
    display: table-cell;
    vertical-align: middle;*/
}

/*divides the page into columns and gives percentage of page for each number of columns*/
/* [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
} */
/*
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*/

/*this solves the problem of everything floating to the left and taken out of the flow of the page, which would have made them get placed as if our columns don't exist. so we add a style to clear the float*/
.row::after {
    content: "";
    clear: both;
    display: table;
}